/*
  ========================================
  General
  ========================================
*/
html,body{
    margin:0;
    padding:0;
}
html{
    font-size: 14px;
}
body{
    font-family: 'Indie Flower',cursive;
}
/*
  ========================================
  Header
  ========================================
*/
header{
    height: 10%;
    background-image:url('../img/headerback.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 3%;
}
.logo h1{
    font-family: Lobster, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 4.2rem;
    line-height: 5.5rem;
    text-align: center;
    opacity: 1;
}
.menu{
    text-align: center;
}
.h-btn{
    background-color: rgba(81,136,145,0.7);
    border-bottom: 3px solid rgba(81,136,145,1);
    font-size:1.7rem;
    color: white;
    border-radius: 1px;
    padding: 10px 6rem;
    margin-top: 4%
    
}
.h-btn:hover{
    background-color: rgba(81,136,145,1);
}
/*
  ========================================
  Jumbotron
  ========================================
*/
.myjumbotron{
    height: 600px;
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    color: white;
    border-bottom: 1rem solid rgba(47,28,20,0.8); 
}
.bytag h2{
    font-family: 'Indie Flower',cursive;
    font-size:5rem;
    text-align: center;
    text-transform:capitalize;
    padding-top: 5%;
    margin-bottom: 8%;
    opacity: 0.5;
}
/*
  ========================================
  Portfolio
  ========================================
*/
.h-portfolio{
    padding-top: 2%;
    padding-bottom: 20%;
    background-image: url('../img/portfolioback.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    border-bottom: 1rem solid rgba(0,0,0,0.7);
}
.p-btn{
    border-bottom: 3px solid;
    font-size: 1.6rem;
    margin-bottom: 10%;
}
.p-btn:hover,
.p-btn:active{
    color: white;
}
.portf-item{
    margin-top: 20%;
    height:300px;
    width: 50px;
}
.p-item{
    border: 5px solid rgba(0,0,0,0.8);
}
#item1{background-image: url('http://via.placeholder.com/250x360/DEDDC9/8E8F90');width: 250px;height: 360px;}
#item2{background-image: url('http://via.placeholder.com/250x360/DEDDC9/8E8F90');width: 250px;height: 360px;}
#item3{background-image: url('http://via.placeholder.com/250x360/DEDDC9/8E8F90');width: 250px;height: 360px;}
#item4{background-image: url('http://via.placeholder.com/250x360/DEDDC9/8E8F90');width: 250px;height: 360px;}
#item5{background-image: url('http://via.placeholder.com/250x360/DEDDC9/8E8F90');width: 250px;height: 360px;}
/*
  ========================================
  Portfolio Animation
  ========================================
*/
.sPortfolioItem{
    animation-name: portfolyoThrow;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    position: relative;
}
@keyframes portfolyoThrow {
    from {background-image: url('http://via.placeholder.com/250x360/DEDDC9/8E8F90');width: 250px;height: 360px;left:0;bottom:0;}
    to   {background-image: url('http://via.placeholder.com/700x600/DEDDC9/8E8F90');width: 500px;height: 600px;left:500px;bottom: 150px;}
}
/*
  ========================================
  Footer
  ========================================
*/
footer{
    background-image: url('../img/footerback.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    background-attachment: fixed;
    height: 300px;
    padding-top: 2%;
    
}
.f-social h4{
    font-weight: 700;
    font-size: 2rem;
    color: white;
    text-indent: 20px;
}
figure{
    display: inline-block;
}
.f-social img{
    width: 30px;
    height: 30px;
    margin-right: 10px;

}
.f-nav h4{
    font-weight: 700;
    font-size: 2rem;
    color: white;
}
.f-nav{
    list-style: none;
    font-size: 1.7rem;
}
.f-nav a{
    color: white;
    opacity: 0.5;
}
.f-nav a:hover{
    border-bottom:3px solid rgba(81,136,145,1); 
}
.f-copy{
    color: white;
    font-size: 2rem;
}

/*
  ========================================
  Media
  ========================================
*/
@media screen and (max-width: 1024px){
    
}
